*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 96%;
    font-family: "Playwrite IT Moderna", cursive;
}

#about-the-principal{
    display: flex;
    padding-top: 40px;
}

.about-the-principal-img img{
    width: 534px;
    height: 662px;
}

.about-the-principal-text-area{
    margin-left: 40px;
}
.about-the-principal-text-area h1{
    font-size: 38px;
    font-weight: 300;
}

.about-the-principal-text-area-btn a button{
    width: 416px;
    height: 86px;
    background-color: #91D497;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.about-the-principal-text-area-btn a button:hover{
    
    background-color: red;
}